*{
    margin: 0px;
    padding: 0px;
    background-color: aqua;
}
.menu{
    height: 50px;
    background-color: black;
    color: white;
    display: flex;
    list-style: none;
    align-items: center;
    justify-content: space-around;
}
.logo{
    width: 100px;
}
.menus{
    display: flex;
    justify-content: space-around;
}
.mi{
    margin-right: 20px;
    padding: 3px 3px;
}
.mi:hover{
    color: black;
    background-color: white;
}
.mainbody{
    height: 100vh;
    align-items: center;
    display: flex;
    justify-content: space-around 
    
}
.ph1{
    width: 400px;
}
.t1{
    font-size: 50px;
}
.t2{
    font-size: 18px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.btn{
    padding: 10px 12px;
    background-color: black;
    color: aliceblue;
}
.btn:hover{
    background-color: red;
}